<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2" >
        <input ng-change="inputChanged()" ng-model="searchText" type="text"   placeholder="Search for Account" style="width: 400px;"/>
        <i class="icon-pencil" style="display: block;"></i>
    </div>
    <row>

        <div class="col-md-8 col-md-offset-2" style="margin-top: 20px;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th>Website</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in accounts">
                    <td><img style="width: 50px; height: 50px;" ng-src="{{account.entityimage_url}}"></td>
                    <td>{{account.name}}</td>
                    <td>{{account.address1_city}}</td>
                    <td>{{account.telephone1}}</td>
                    <td><a href="{{account.websiteurl}}">{{account.websiteurl}}</a></td>
                    <td> <a href="#/accounts/{{account.accountid}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </row>
</div>